/* Your custom styles */

.iframe-holder {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.iframe-holder iframe {

}

.olin-bg {
    background: url("../images/background.png") center;
    background-size: contain;
}

.tile-image {
    border-radius: 6px;
}

.tile {

}