/* Your custom styles */

.iframe-holder {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.iframe-holder iframe {

}

.olin-bg {
    background: url("../images/background.png") center;
    background-size: contain;
}

.tile-wrapper {
    border-radius: 6px;
    height: 180px;
    display: flex;
}

.tile-wrapper .layer {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
}

.tile-wrapper h1 {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 340%;
}

@media (min-width: 1400px) and (max-width: 1690px) {
    .tile-wrapper {
        height: 120px;
    }

    .tile-wrapper h1 {
        font-size: 220%;
    }
}

@media (max-width: 1399px) {
    .tile-wrapper {
        height: 120px;
    }

    .tile-wrapper h1 {
        font-size: 180%;
    }
}